
h1,h2,h3,p,li {
  font-family: Helvetica; 
}

.head {

}

.text {
  
}

.avatar {
  
}

.avatar_img {
  width: 200px;
  height: 200px;
}

.skills {

}

.experience {
  padding: 1em;
}

.body {
  padding: 2em;
}
